<p-toast [hideTransitionOptions]="'0ms'" [showTransitionOptions]="'0ms'" [style]="{marginTop: '80px'}"
         life="2000"></p-toast>
<div class='row justify-content-center'>

    <div>
        <div [style]="{'max-width':'200px'}" class="input-group mb-3">
            <input [(ngModel)]="groupName" aria-describedby="basic-addon1" aria-label="Group Name" class="form-control"
                   jhiTranslate="add-user-group.name" maxlength="20"
                   minlength="2"
                   placeholder="Group Name" required size="50"
                   type="text">
        </div>

        <h2 jhiTranslate="add-user-group.select-mess"> Select the users</h2>
        <div>
            <p-listbox [(ngModel)]="selectedUsers" [listStyle]="{'max-height':'200px'}" [options]="allUsers"
                       [style]="{'width':'500px'}"
                       checkbox="checkbox" filter="filter"
                       multiple="multiple"
                       optionLabel="firstName">
                <p-header>
                    <i aria-hidden="true" class="fa fa-users"></i>
                    Users
                </p-header>
            </p-listbox>
            <br>
        </div>

        <div style="text-align: center">
            <button (click)="createGroup()" class="ui-button-raised"
                    jhiTranslate="add-user-group.createButton"></button>
        </div>
    </div>
</div>
