.box1 {
  max-width: 60%;
  margin: 5px auto;
  background: #aaffaa;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  color: #000;
  font-family: arial;
  position: relative;
}

.box2 {
  max-width: 60%;
  margin: 5px auto;
  background: #afe2ff;
  padding: 20px;
  text-align: center;
  font-weight: 500;
  color: #000;
  font-family: arial;
  position: relative;
}

.sb:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px;
}

img {
  float: left;
  margin-right: 9px;
}
